:root {
  --Pale-blue: hsl(225, 100%, 94%)
  --Bright-blue: hsl(245, 75%, 52%)
  --White-clr: hsla(0, 0%, 100%, 1)
  --Very-pale-blue: hsl(225, 100%, 98%)
  --Desaturated-blue: hsl(224, 23%, 55%)
  --Dark-blue: hsl(223, 47%, 23%)
  --font-family-ibm: "IBM Plex Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  padding: 0 20px;
  background-color: var(--Pale-blue);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    padding: 152px 0px 151px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

.container {
  max-width: 450px;
  height: 697px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--White-clr);
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
}
.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: right;
  gap: 35px;
  padding: 40px;
}
.container .content img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container .content .title {
  color: var(--Dark-blue);
  text-align: center;
  font-family: Red Hat Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.container .content .description {
  color: var(--Desaturated-blue);
  text-align: center;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.container .content .offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 279px;
  height: 81px;
  border-radius: 11px;
  background: #F7F9FF;
}
@media screen and (min-width: 1200px) {
  .container .content .offer {
    width: 354px;
    height: 98px;
  }
}
.container .content .offer div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .content .offer div img {
  width: 48px;
  height: 48px;
}
.container .content .offer div p {
  color: #1F2E55;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.container .content .offer div span {
  color: var(--Desaturated-blue);
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
}
.container .content .offer a {
  color: var(--Bright-blue);
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.container .content .offer a:hover {
  color: #766CF1;
  text-decoration: none;
}
.container .content .btn-payment {
  width: 279px;
  height: 50px;
  border-radius: 11px;
  border: none;
  background: var(--Bright-blue);
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  color: var(--White-clr);
  font-family: Red Hat Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
}
.container .content .btn-payment:hover {
  background: #766CF1;
}
@media screen and (min-width: 1200px) {
  .container .content .btn-payment {
    max-width: 354px;
    height: 50px;
  }
}
.container .content .btn-cancel {
  color: var(--Desaturated-blue);
  background-color: var(--White-clr);
  font-family: Red Hat Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.container .content .btn-cancel:hover {
  color: #1F2E55;
}/*# sourceMappingURL=style.css.map */