:root {

    --clr-pale-blue: 225, 100%, 94%;
    --bright-blue: 245, 75%, 52%;
    --very-pale-blue: 225, 100%, 98%;
    --desaturated-blue: 224, 23%, 55%;
    --dark-blue: 223, 47%, 23%;
    --dark-white: 0, 0%, 100%;
    --clr-lila: 245, 83%, 68%;

    --font-family: 'Red Hat Display', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  position: relative;
  background-color: hsl(var(--clr-pale-blue));
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

.desktop {
    display: none;
}

@media screen and (min-width: 767px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

main {
    overflow-x: hidden;

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 327px;
    
    border-radius: 20px;
    background-color: hsl(var(--dark-white));
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
    
    @media screen and (min-width: 1200px) {
        top: 55%;
        max-width: 450px;
    }

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;    
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: right;
        gap: 35px;
        padding: 40px;


        .title {
            color: hsl(var(--dark-blue));
            text-align: center;
            font-family: var(--font-family);
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        .description {
            color: hsl(var(--desaturated-blue));
            text-align: center;
            font-family: var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            width: 263px;

            @media screen and (min-width: 1200px) {
                width: 334px;
            }
        }

        .offer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            width: 279px;
            height: 81px;
            
            border-radius: 11px;
            background: #F7F9FF;
            
            @media screen and (min-width: 1200px) {
                width: 354px;
                height: 98px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 15px;

                img {
                    width: 48px;
                    height: 48px;
                }

                p {
                    color: hsl(var(--dark-blue));
                    font-family: var(--font-family);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }

                span {
                    color: hsl(var(--desaturated-blue));
                    font-family: var(--font-family);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: block;
                }
            }

            a {
                color:  hsl(var(--bright-blue));
                font-family: var(--font-family);
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: underline;

                &:hover {
                   color: hsl(var(--clr-lila));
                   text-decoration: none;
                }
            }
        }

        .btn-payment {

            width: 279px;
            height: 50px;

            border-radius: 11px;
            border: none;
            background: hsl(var(--bright-blue));
            box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);

            color: hsl(var(--dark-white));
            font-family: var(--font-family);
            font-size: 15px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            cursor: pointer;

            &:hover {
                background: hsl(var(--clr-lila));
            }

            @media screen  and (min-width: 1200px){
                max-width: 354px;
                height: 50px;
            }
        }

        .btn-cancel {
            color: hsl(var(--desaturated-blue));
            background-color: hsl(var(--dark-white));
            font-family: var(--font-family);
            font-size: 15px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            border: none;

            cursor: pointer;

            &:hover {
                color: hsl(var(--dark-blue));
            }
        }
    }
}
}
